<!DOCTYPE html>
<html>
<head>
  <meta name="viewport"
        content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Router Sample</title>
  <%= csrf_meta_tags %>
  <%= stylesheet_pack_tag "router-bundle" %>
</head>

<body>
<%= yield %>
<%= javascript_pack_tag "router-bundle" %>
</body>
</html>
