<!DOCTYPE html>
<html>
  <head>
    <title>Snip</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_pack_tag "snippets-bundle" %>
  </head>

  <body>
    <%= yield %>
    <%= javascript_pack_tag "snippets-bundle" %>
  </body>
</html>
